* {
    box-sizing: border-box;
}

html {
    font-family: 'PoppinsRegular', sans-serif;
    font-size: 14px;
    color: #1B1A1A;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 90px;
    padding: 20px 20px 20px 32px;
}

.header-logo {
    width: 220px;
    height: 19px;
}

.header-navigation {
    padding: 13px 0 13px 16px;
}

.header-navigation__list {
    display: flex;
    gap: 32px;
}

.header-navigation__list a {
    text-decoration: none;
    color: inherit;
}

.header-navigation__list-item:last-child a {
    color: #fff;
    background-color: #1B1A1A;
    padding: 11px 20px;
    border-radius: 14px;
}

.main-hero {
    display: flex;
    background-color: #ECE7E4;
    max-width: 1440px;
}

.main-hero__content {
    width: 600px;
    height: 566px;
    padding: 60px 40px;
    margin: 77px 60px;
}

.main-hero__content-logo {
    color: #645C55;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
}

.main-hero__content-title {
    font-size: 64px;
    line-height: 70px;
    letter-spacing: 0;
    margin-top: 20px;
}

.main-hero__content-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    margin-top: 18px;
}

.main-hero__content-link {
    display: block;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    padding: 11px 20px;
    color: inherit;
    text-decoration: none;
    margin-top: 41px;
}

.main-hero__image {
    width: 720px;
    height: 720px;
    background-image: url('../assets/images/main-hero-background.png');
    margin-left: auto;
}

.our-firm {
    display: flex;
    margin-top: 100px;
    width: 768px;
    gap: 133px;
    columns: 2 493px;
}

.our-firm__title {
    display: block;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0;
    min-width: 134px;
}

.our-firm__content-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    margin-bottom: 10px;
}

.our-firm__partner {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 8px 0;
}

.our-firm__partner figcaption {
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0;
    display: flex;
    flex-direction: column;
}

.our-firm__partner img {
    width: 84px;
    height: 84px;
}

.our-firm__partner figcaption > span {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0;
    color: #645C55;
    margin-top: -3%;
}